.openCartButton {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -15px;
  right: -15px;

  width: 1.5em;
  height: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: white;
  background-color: var(--orange);
}

.nav {
  margin: 0 auto;
  display: block;
  padding: 12px 0 0 0;
  text-align: center;
  font-size: 16px;
}

.list {
  display: flex;
  justify-content: center;
}

.list .li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid var(--green);
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}

.li .link {
  color: black;
}

.li .link:hover {
  color: #3ca0e7;
}

.li:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #3ca0e7;
}

/* .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

/* .li {
  display: inline;
  width: 20vh;
  color: #000;
  text-decoration: none;
  padding: 3px 15px 3px 15px;
  border: 2px solid var(--orange);
  background: var(--yellow);
}

.li:hover {
  background-color: #555;
  color: white;
} */

@media (max-width: 767.98px) {
  .list {
    flex-direction: column;
  }

  .list .li {
    border: none;
  }
}
