.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: justify;
  margin-bottom: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 1760px;
  margin: 0 auto;
}

.imgApropos {
  max-width: 1760px;
  max-height: 1200px;
}

.figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.title {
  font-size: 3em;
}
