.footer {
  display: flex;
  width: 100%;

  flex-shrink: 0;
}

.logo {
  height: 5em;
  border-radius: 50%;
}

.reseau {
  width: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.github {
  width: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.return {
  width: 33%;
}

@media (max-width: 575.98px) {
  .logo {
    height: 2.5em;
  }
}
