/* bootstrap for copypasting
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
*/
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Fraunces:wght@500&family=Lato&display=swap");

/* 
font-family: 'Fraunces', serif;
font-family: 'Lato', sans-serif;
font-family: 'Arvo', serif;
*/

:root {
  --product-card-size: min(400px, 90%);

  --blue: #00a1f1;
  --green: #7cbb00;
  --yellow: #ffbb00;
  --orange: #f65314;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Bootstrap container */
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
