.containerImg {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

.bannerImg {
  width: 100%;
  height: auto;
}

.figcaption {
  z-index: 10;
  right: 10rem;
  font-size: 4rem;
  font-weight: bold;
  color: var(--blue);
  top: 60vh;
  position: absolute;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  letter-spacing: -3px;
  margin: 0;
}
